{% load staticfiles %}

{% load static %}
<img src"{% static "static/javascript/app.js" %}" />


<!DOCTYPE html>
<html>
<head>
	<title>BOOTCAMP</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<h1> Welcome to BOOTCAMP</h1>
	<h2>PREPARE TO STUDY</h2>

<nav>
	{% if not user.is_authenticated %}
	<a href="{% url 'login' %}">Log In</a>
	<a href="{% url 'signup' %}">Sign Up</a>

	{% endif %}
</nav>

	<div class="user-info">
        {% if user.is_authenticated %}
            Welcome, {{ user.username }}
            <a href="{% url 'character_create' %}">Create Character</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </div>


{% block content %}

{% endblock%}

<footer>About The BOOTCAMP Team<p>
	<a href="http://www.github.com/teripanda">Teri</a> <a href="http://www.github.com/juney3">June</a> <a href="http://www.github.com/chrispykan">Chris</a> <a href="#">Riki</a>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- add js file -->
    <script src="/static/javascript/app.js"></script>
    <!-- Consider also adding Bootstrap.js here! -->
    {% block extra_js %}{% endblock extra_js %}

</body>
</html>
