{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>BOOTCAMP</title>
	<!-- CSS -->
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- Google web fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
	<!-- JavaScripts -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
	<link rel="stylesheet" href="{% static 'scripts/app.js' %}">

</head>
<body>
	<header class="headerColorBand">
	</header>

	<div class="containerColorBand">
		<h6 class="schoolName">GRUELING ACADEMY</h6>
		<nav class="navLinks">
			{% if not user.is_authenticated %}
			<a href="{% url 'login' %}">Log In</a>
			<a href="{% url 'signup' %}">Sign Up</a>
			{% endif %}
			{% if user.is_authenticated %}
					<div class="login-form">
					<a href="{% url 'character_create' %}">Create Character</a>
					<a href="{% url 'logout' %}">Logout</a>
				</div>
			{% endif %}
		</nav>
	</div>

	<div class="welcome">
		<h1>Welcome to<img src="/static/images/bootcamplogo.jpg" alt="logo bootcamp"></h1>
		<h2>PREPARE TO STUDY</h2>
	</div>

<div class="welcomeBody"
	<div class="user-info">
        {% if user.is_authenticated %}
            Welcome, {{ user.username }}
        {% endif %}
    </div>
<title>BOOTCAMP</title>

</head>

<body>

{% block content %}

{% endblock%}

<footer class="about">About The BOOTCAMP Dev<p>
	<a href="http://www.github.com/teripanda" target="_blank">Teri</a> <a href="http://www.github.com/juney3" target="_blank">June</a> <a href="http://www.github.com/chrispykan" target="_blank">Chris</a> <a href="http://www.github.com/mashwhite" target="_blank">Riki</a>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" defer></script>
<script src="static/scripts/app.js"></script>
</body>
</html>
