{% extends 'bootcamp_app/base.html' %}

{% block content %}

    <h1 id="characterInfo">Character Information</h1>

      <div class="savedCharNameAge">
        <h3 class="nameAge">
          <p>Your name is {{ character.name }}.</p>
          <p>You are {{ character.age }} years old. </p>
        </h3>
      </div>

      <div id="beginBootBtn">
        <a href="{% url 'day1' pk=character.id %}">
        <button type="submit" class="btn btn-primary btn-md btn-red2">
        Begin BOOTCAMP
        </button>
        </a>
      </div>

{% endblock %}
