{% extends 'bootcamp_app/game.html' %}

	{% block content %}

		<h1>Welcome to Day 10, {{character.name}}</h1>

		<p>
			Finals day!
		</p>
		<p>
      You take out your carefully sharpened #2 laptop from your backpack. You type your name on the front of the test. You wait for Professor Blueslime to yell "GO!!" in that mighty voice of his.
    </p>
		<p>
			Are you ready to take the test?
		</p>
		<p>
		  If you are, great! Click the button below.
		</p>

		<p>
		  If you're not, too bad! You still have to click the button below.
		</p>

		<div class="take-final">
			<a href="{% url 'finals1' pk=character.id %}">
				<button>
					Start the final!
				</button>
			</a>
			<p>
				Good luck!
			</p>
		</div>




	{% endblock %}
