{% extends 'bootcamp_app/game.html' %}

{% block content %}

<h1>Welcome to Day 3</h1>

<h1>Welcome to Day 3, {{character.name}}</h1>
<p>
   You're a little tired as Professor Blueslime lectures about how Python virtual environments and how Django works as a web application framework. You have some trouble concentrating when you use pip to install Django and some other libraries.
</p>

<p>
  Though you feel a bit more tired and a bit more crabby, you manage to focus and retain a good amount of information for the day.
</p>


<a href="{% url 'event1' pk=character.id %}">
	<button>
		Time to go home!
	</button>
</a>
{% endblock %}
