{% extends 'bootcamp_app/game.html' %}

{% block content %}

Once again you feel a bit more tired and a bit more crabby, but you manage to focus and retain a lot of information for the day.

Your best friend messages you and reminds you that they are moving away forever the very next day. You know that if you miss this opportunity to say goodbye that you will be so sad you may lose the ability to work as hard, but if you stay in and study you may do better in school. 

Do you choose to go out for a couple of hours to see your best friend off or do you stay in and study?

<button><a href="#">Go Out</a></button>
<button><a href="#">Stay In</a></button>

<div>
  <button><a href="{% url 'day4' pk=character.id %}">Go to the next day</a></button>
</div>

{% endblock %}
