{% extends 'bootcamp_app/game.html' %}

{% block content %}

<p> Hello. This is Day four!</p>
<!--
if went out: -->

	{% if (went out) %}

	You drank way too much and stayed out longer than expected. You can barely concentrate on coding today and almost fall asleep in class.


	{% endif %}
<!--
if stayed in: -->


    {% if stayed in %}

    Your studying pays off with your coding knowledge, but you fall into a deep depression over missing your best friend and suffer a permanent drop in your mood.



    {% endif %}


<div>
  <button><a href="{% url 'day5' pk=character.id %}">Go to the next day</a></button>
</div>

{% endblock %}
