{% extends 'bootcamp_app/game.html' %}
  {% block content %}
    <h1>Welcome to Day 5, {{character.name}}</h1>

    <h4>
      Can you believe it? You're halfway through BOOTCAMP.
    </h4>
    <p>
      Professor Blueslime puts you through your paces this morning by having you work on Django routes and views. It takes you all morning to figure out what goes where, and you take a break for lunch.
    </p>

    <h4>WAT! A POP QUIZ!</h4>

    <p>
      Surprise!!
    </p>

    <p>
      After lunch, Professor Blueslime booms, "It's time for a pop quiz, kids! Have you been paying attention in class and finishing the labs? Well, we'll find out!"
    </p>

    <p>
      "Answer this question right now!"
    </p>

    <h5>The following statement prints "Python is fun" 10 times.</h5>
    <pre>
      <code>
        for count in range(1, 11):
          print("Python is fun")
      </code>
    </pre>


    <a href="{% url 'quiz1true' pk=character.id %}">
      <button id="continue" class="continue-button">
        True.
      </button>
    </a>

    <a href="{% url 'quiz1false' pk=character.id %}">
      <button id="continue" class="continue-button">
        False.
      </button>
    </a>

  {% endif %}

{% endblock %}
