{% extends 'bootcamp_app/game.html' %}
  {% block content %}
    <h1>Welcome to Day 7, {{character.name}}</h1>

    <p>
      Now that Professor Blueslime covered full CRUD, he sets you to work practicing with another CRUD-based lab so that you can get more practice. You spend all morning and the early afternoon working on Foodr (or is it Foodly?).
    </p>

    <p>
      You come back from your afternoon break, and .....
    </p>

    <h4>O NOES! A POP QUIZ!</h4>

    <p>
      Say what?!
    </p>

    <p>
      Professor Blueslime booms, "Ha! It's time for another pop quiz! Will you get this answer right or NOT?!"
    </p>

    <p>
      "Answer this question right now!"
    </p>

    <h5>When you use <code>django-admin</code> to start a project, it creates a project folder inside of the app folder. This project folder contains the <code>views.py</code> and <code>models.py</code> files.</h5>

    <a href="{% url 'quiz2true' pk=character.id %}">
      <button id="continue" class="continue-button">
        True.
      </button></a>

    <a href="{% url 'quiz2false' pk=character.id %}">
      <button id="continue" class="continue-button">
        False.
      </button>
    </a>
  {% endblock %}
