{% extends 'bootcamp_app/game.html' %}

{% block content %}
<h1>Welcome to Day 9, {{character.name}}</h1>

<p>
  BOOTCAMP is almost over. You can't believe it.
</p>

<p>
  It's the last day before the final exam. The final exam is a big deal: it can determine whether you pass or fail.
</p>

<p>
  Professor Blueslime outlines his schedule for the day. He will spend the entire morning reviewing Python, and the afternoon reviewing Django. When he writes out the topic list on the whiteboard wall, you're amazed at how much the class covered. "Any of this knowledge might be on the exam!" he says, while looking directly at you.
</p>

<p>
  Professor Blueslime summarizes Python before lunch, and starts summarizing Django after lunch, as planned. However, as your afternoon break time comes and goes, Professor Blueslime keeps talking. You're hungry, and you're also thirsty. It's hard to concentrate on what he's saying.
</p>
<p>
  Do you choose to interrupt Professor Blueslime so you can take a snack break, or do you choose to skip break to hear Professor Blueslime's test review?
</p>

<form id="choice6" class="game-form">
  {% csrf_token %}
  <input type="hidden" name="id" value="{{character.id}}" />
  <input type="hidden" name="choice" value="6" />
  <input type="hidden" name="energy" value="10" />
  <input type="hidden" name="mood" value="10" />
  <input type="hidden" name="knowledge" value=
  "5">
  <button type="submit" id="continue" class="continue-button">
    Interrupt Professor Blueslime and remind him that we have a break scheduled. I need potato chips and coffee!
  </button>
</form>
{% endif %}

<form id="choice7" class="game-form">
  {% csrf_token %}
  <input type="hidden" name="id" value="{{character.id}}" />
  <input type="hidden" name="choice" value="7" />
  <input type="hidden" name="energy" value="-10" />
  <input type="hidden" name="mood" value="-10" />
  <input type="hidden" name="knowledge" value=
  "10">
  <button type="submit" id="continue" class="continue-button">
    I really want to hear Professor Blueslime review this material even though my stomach's growling.
  </button>
</form>

{% endblock %}
