{% extends 'bootcamp_app/game.html' %}

  {% block content %}

    <h1>This is it, {{character.name}}!</h1>

    {% if character.knowledge >= 85 %}

      <div>
        <img src="../images/happyending1.jpg" alt="happy face"/>
        <h2>Congratulations!</h2>
        <p>
          You pass BOOTCAMP with flying colors! At the graduation ceremony, Professor Blueslime sheds a tear as he congratulates you on your success. "You are one of my star students," he says as he smiles with pride.
        </p>
        <p>
          After BOOTCAMP, you polish up your resume, your portfolio, and your Github profile to showcase all of your hard work. And lo and behold, you are recruited by your dream startup as a Django developer only four weeks after you completed BOOTCAMP!
        </p>

      </div>
    {% endif %}

    {% if character.knowledge  < 85 and character.knowledge >= 65 %}

      <div>
        <img src="../images/medending1.jpg" alt="medium face"/>
        <h2>Well, you passed.</h2>
        <p>
          You pass BOOTCAMP, but it was a struggle for you. At the graduation ceremony, Professor Blueslime shakes your hand as he congratulates you on completing the requirements. "Yes, you finished, and you're...'qualified'...in Python and Django. Congratulations on passing," he says.
        </p>
        <p>
          After BOOTCAMP, you work on finding a job. You go on some interviews, but you find interviewing to be pretty difficult at first. As the weeks pass, though, you get better at interviewing, and you improve your portfolio projects. About 4 months after you finished BOOTCAMP, you land a perfectly ok Django developer position, though the company itself is not the perfect culture fit for you. You vow to improve your skills and move on at the next opportunity.
        </p>

      </div>
    {% endif %}

    {% if character.knowledge  < 65 %}

      <div>
        <img src="../images/badending1.jpg" alt="sad face"/>
        <h2>You didn't pass.</h2>
        <p>
          Not that you are surprised about your outcome. BOOTCAMP felt like an obstacle for you all the way through. When you find out that you didn't pass, you can't bring yourself to go to the graduation ceremony and face the disappointment of Professor Blueslime.</p>
        <p>
          Yes, you probably should have made different choices. You spend the rest of the day thinking over what you did while seated at the bar of your favorite pub. What could you have done differently?!
        </p>
        <p>
          After BOOTCAMP, you know that there is no way you can get hired as a Django developer with your skills at their current state. After you spend several weeks in a deep depression, you decide to move to a less expensive part of the country and find a job in your previous field. As you drive away from San Francisco, you find yourself thinking about your BOOTCAMP experience. "Maybe some day, I'll try BOOTCAMP again," you think to yourself. "Then again, maybe not."
        </p>

      </div>
    {% endif %}

    <h3>The End</h3>
    <a href="{% url 'home' %}">
      <button>
        Back to BOOTCAMP home.
      </button>
    </a>
    {% endblock %}
