{% extends 'bootcamp_app/game.html' %}

  {% block content %}

    <h1>This is it, {{character.name}}!</h1>

    {% if character.knowledge >= 85 %}

      <div>
        <img src="" alt="happy face"/>
        <h2>Congratulations!</h2>
        <p>
          You passed BOOTCAMP with flying colors! At the graduation ceremony, Professor Blueslime shed a tear as he congratulated you on your success. "You were one of my star students," he said as he smiled with pride.
        </p>
        <p>
          After BOOTCAMP, you polished up your resume, your portfolio, and your Github profile to showcase all of your hard work. And lo and behold, you were recruited by your dream startup as a Django developer only four weeks after you completed BOOTCAMP!
        </p>

      </div>
    {% endif %}

    {% if character.knowledge  < 85 and character.knowledge >= 65 %}

      <div>
        <img src="" alt="medium face"/>
        <h2>Well, you passed.</h2>
        <p>
          You passed BOOTCAMP, but it was a struggle for you. At the graduation ceremony, Professor Blueslime shook your hand as he congratulated you on completing the requirements. "Yes, you finished, and you're...qualified...in Python and Django. Congratulations on passing," he said.
        </p>
        <p>
          After BOOTCAMP, you worked on finding a job. You went on some interviews, but you found interviewing to be pretty difficult at first. As the weeks passed, though, you got better at interviewing, and you were able to improve your portfolio projects. About 4 months after you finished BOOTCAMP, you landed a perfectly ok Django developer position, though the company itself was not the perfect culture fit for you. You vow to improve your skills and move on at the next opportunity.
        </p>

      </div>
    {% endif %}

    {% if character.knowledge  < 65 %}

      <div>
        <img src="" alt="sad face"/>
        <h2>You didn't pass.</h2>
        <p>
          Not that you were surprised about your outcome. BOOTCAMP had been a struggle for you all the way through. When you found out that you didn't pass, you couldn't bring yourself to go to the graduation ceremony and face the disappointment of Professor Blueslime. Yes, you probably should have made different choices. You spend the rest of the day thinking over what you did while seated at the bar of your favorite pub. What could you have done differently?!
        </p>
        <p>
          After BOOTCAMP, you knew that there was no way you could get hired as a Django developer with your skills at their current state. After spending a couple of weeks in a deep depression, you decide to move to a less expensive part of the country and find a job in your previous field. As you drive away from San Francisco, you find yourself thinking about your BOOTCAMP experience. "Maybe some day, I'll try BOOTCAMP again," you think to yourself. "Then again, maybe not."
        </p>

      </div>
    {% endif %}

    <h3>The End</h3>
    <a href="{% url 'home' %}">
      <button>
        Back to BOOTCAMP home.
      </button>
    </a>
    {% endblock %}
