{% extends 'bootcamp_app/game.html' %}

{% block content %}
<h1>....Later in class....</h1>
  {% if character.event3 == 6 %}
    <p>
      Much to your surprise, Professor Blueslime takes the interruption with aplomb, and he graciously grants your class a 15-minute break. Wow, that snack break did wonders! The energy from the chips and coffee helped you concentrate like a laser beam, and it also stopped your stomach from growling loudly. Win-win!
    </p>
    <p>
      While you missed out on some of Professor Blueslime's Django test review, you got a massive boost to your energy and confidence.
    </p>
  {% endif %}

  {% if character.event3 == 7 %}
    <p>
      Professor Blueslime starts to review the Django REST API as your stomach gurgles and your head aches. You long for a sip of coffee, water, anything, to soothe your parched throat. As Professor Blueslime starts to describe serializers, you slump further in your seat. You put all your concentration towards taking notes, but when class is over, you are super grouchy and your head is pounding.
    </p>
    <p>
      You took tons of notes that you can review later, but you feel drained and disgruntled.
    </p>
    {% endif %}

  <p>
    This is it. You finished your last day of class. Time to go home, study one last time, and sleep before your big test.
  </p>
  <a href="{% url 'day10' pk=character.id%}"><button>Face your final BOOTCAMP challenge!</button></a>

{% endblock %}
