{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>BOOTCAMP - The Game</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>
<body>
	<p> This is Bootcamp, {{character.name}}!</p>

{% block content %}

{% endblock%}

<footer> STATS GO HERE </footer>
</body>
</html>
