{% extends 'bootcamp_app/game.html' %}

{% block content %}

  {% if character.quiz2 == 'success' %}
    <p>
      Congratulations! You got the question right! You feel smarter about Django, and you gain confidence in your abilities!
    </p>
  {% endif %}

  {% if character.quiz2 == 'fail' %}
    <p>
      Ugh! You got the question wrong! You feel sad, and you feel like you're not learning much about how to use Django.
    </p>
  {% endif %}

<p>
  You finished your second quiz. BOOTCAMP is almost over. Just three more days.
</p>
  <a href="{% url 'day8' pk=character.id %}">
    <button>
      Go to Day 8 in a state of disbelief and denial.
    </button>
  </a>

{% endblock %}
