{% extends 'bootcamp_app/game.html' %}

{% block content %}

  {% if character.quiz1 == 'success' %}
  <h2>You passed!</h2>
    <p>
      Congratulations! You got the question right! You feel smarter, and you gain confidence in your abilities!
    </p>
  {% endif %}

  {% if character.quiz1 == 'fail' %}
  <h2>You failed!</h2>
    <p>
      Ugh! You got the question wrong! You feel sad, and feel like you haven't learned anything.
    </p>
  {% endif %}

  <a href="{% url 'day6' pk=character.id%}"></a><button>It's the weekend! And it goes by faster than you want it to....</button></a>

{% endblock %}
