
.bgimage {
	/* background-image: url("../images/BOOTCAMPUI.jpg") */
	/* background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */
	background-size 1800px 1900px;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
}

.block-content {
	margin-top: 100px;
	max-height: 600px;
}


.stat-box {
	margin-top: 50px;
}
