
.bgimage {
	background-image: url("../images/BOOTCAMPUI4.jpg")
	/* background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */
	/* background-size 1025px 878px; */
	background-repeat: no-repeat;
	background-position: top;
	/* background-attachment: fixed; */
}

.block-content {
	padding: 250px;
	padding-top: 50px;
	padding-right: 275px;
	/* max-height: 600px; */
}


.stat-box {
	margin-top: 50px;
}
